.caption {
  align-self: stretch;
  position: relative;
  letter-spacing: 1px;
  line-height: 100%;
  text-transform: uppercase;
  display: none;
  color: var(--primary-90);
  text-align: left;
}
.main-headline,
.secondary-headline {
  align-self: stretch;
  position: relative;
  line-height: 110%;
}
.main-headline {
  font-size: var(--heading-1-size);
  display: none;
}
.secondary-headline {
  margin: 0;
  font-size: var(--heading-2-size);
  font-weight: 700;
  font-family: inherit;
}
.paragraph,
.top {
  align-self: stretch;
}
.top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.paragraph {
  position: relative;
  font-size: var(--body-l-size);
  line-height: 140%;
}
.section-text {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--other-caption-size);
}
.text {
  position: relative;
  line-height: 140%;
  display: inline-block;
  width: 210px;
}
.icon-jam-icons-outline-l {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.text1 {
  flex: 1;
  position: relative;
  line-height: 140%;
}
.field {
  background-color: var(--coolgray-10);
  border-bottom: 1px solid var(--coolgray-30);
  box-sizing: border-box;
  width: 210px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xs) var(--padding-base);
  gap: var(--gap-5xs);
  font-size: var(--button-m-size);
  color: var(--coolgray-60);
}
.fields-group,
.text-fieldtruetruefalsefal {
  align-items: flex-start;
  justify-content: flex-start;
}
.text-fieldtruetruefalsefal {
  width: 210px;
  display: flex;
  flex-direction: column;
  gap: var(--gap-5xs);
}
.fields-group {
  display: none;
  flex-direction: row;
  gap: var(--gap-base);
  font-size: var(--body-xs-size);
}
.field2,
.label {
  align-self: stretch;
}
.label {
  position: relative;
  line-height: 140%;
}
.field2 {
  border: 0;
  background-color: transparent;
}
.label-and-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
  display: none;
}
.text-field {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xs);
}
.description1 {
  align-self: stretch;
  position: relative;
  font-size: var(--body-xs-size);
  line-height: 140%;
  color: var(--coolgray-60);
}
.icon-jam-icons-outline-l4 {
  position: relative;
  width: 24px;
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.text-fieldtruetruefalsefal2 {
  align-self: stretch;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xs);
  font-size: var(--body-xs-size);
}
.forgot-password {
  text-decoration: none;
  flex: 1;
  position: relative;
  line-height: 140%;
  color: inherit;
}
.group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-base);
  text-align: right;
  color: var(--primary-90);
}
.button,
.group {
  align-self: stretch;
}
.vestibulum-faucibus-odio {
  align-self: stretch;
  position: relative;
  line-height: 140%;
  text-align: center;
  display: none;
}
.form-2-fields-checkbox-b {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xl) 0 0;
  gap: var(--gap-base);
  text-align: left;
}
.button-text {
  position: relative;
  font-size: var(--button-m-size);
  letter-spacing: 0.5px;
  line-height: 100%;
  font-weight: 500;
  font-family: var(--button-m);
  color: var(--color-aqua);
  text-align: left;
}
.button1,
.text-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-base);
}
.button1 {
  cursor: pointer;
  border: 2px solid var(--color-aqua);
  padding: var(--padding-base) var(--padding-xs);
  background-color: #1f2233;
  flex: 1;
  box-sizing: border-box;
  height: 48px;
}
.login-with,
.paragraph-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.paragraph-parent {
  border-top: 1px solid var(--coolgray-20);
  flex-direction: column;
  align-items: center;
  padding: var(--padding-5xl) 0 0;
  gap: var(--gap-base);
  font-size: var(--button-m-size);
}
.no-account-yet,
.sep {
  align-self: stretch;
  position: relative;
}
.sep {
  border-top: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  height: 1px;
}
.no-account-yet {
  text-decoration: none;
  line-height: 140%;
  color: var(--primary-90);
}
.login,
.page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-content {
  background-color: var(--color-white);
  border: 1px solid var(--coolgray-20);
  box-sizing: border-box;
  width: 680px;
  padding: 80px;
  gap: 24px;
}
.login {
  position: relative;
  background-color: var(--coolgray-10);
  width: 100%;
  height: 1024px;
  text-align: center;
  font-size: var(--body-s-size);
  color: var(--coolgray-90);
  font-family: var(--button-m);
}
