@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --button-m: Roboto;

  /* font sizes */
  --body-s-size: 14px;
  --button-m-size: 16px;
  --body-xs-size: 12px;
  --body-l-size: 18px;
  --heading-2-size: 42px;
  --heading-1-size: 54px;
  --other-caption-size: 20px;

  /* Colors */
  --coolgray-10: #f2f4f8;
  --color-white: #fff;
  --coolgray-20: #dde1e6;
  --coolgray-90: #21272a;
  --coolgray-100: #121619;
  --color-gray-100: rgba(255, 255, 255, 0.25);
  --primary-90: #001d6c;
  --coolgray-30: #c1c7cd;
  --coolgray-60: #697077;
  --primary-60: #0f62fe;

  /* Gaps */
  --gap-base: 16px;
  --gap-5xs: 8px;
  --gap-9xs: 4px;

  /* Paddings */
  --padding-xs: 12px;
  --padding-base: 16px;
}
